# Override GitHub Linguist language detection for test runner scripts
test-*.js linguist-vendored=true
run-tests.js linguist-vendored=true
*.json linguist-documentation=true
docs/* linguist-documentation=true
